@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Grotesk:wght@300;700&display=swap');

html {
  cursor: url("./Group.png"), auto;
}

* {
	box-sizing: border-box;
}
body {
  background: #000000;
  color: #000000;
	justify-content: center;
	align-items: center;
  display: flex;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 36px;
}

.container{
  max-width: 1432px;
  min-height: 502px;
  margin: 20px;
  justify-content: center;
	align-items: center;
}

.row {
  max-width: 1432px;
  display: grid;
  grid-template-columns: 6fr 10fr;
  grid-template-rows: 930px auto;
  grid-column-start: 1;
  row-gap: 74px;
  grid-column-end: 3;
  justify-content: center;
  margin: 0 auto;
  padding-left: 7px;
  margin-top: 120px;
}

@mixin style1($size: 24px, $weight: 700, $transform: none){
  font-size: $size;
  font-weight: $weight;
  text-transform: $transform;
}

img {
  width: 1350px;
  height: 830px;
  border-radius: 40px;
}

.text__center{
  text-align: center;
  border: none;
  border-radius: 40px;
  padding: 25px;
  width: 1350px;
  background: #E8603A;
  margin: 10px;
  p {
    margin: auto auto 24px auto;
    font-family: 'Space Grotesk', sans-serif;
    @include style1(24px, $transform: uppercase);
    border: 2px solid #000000;
    border-radius: 44px;
    width: 224px;
  }
}

.btn {
  background: #000000;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Space Grotesk', sans-serif;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px;
  margin: 38px auto;
  animation: rotate 10s linear infinite;
  
  &:hover {
    color: white;
    cursor: url("./Group.png"), auto;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate .down{
  transform: rotate(45deg);
}
h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}

h1{
  @include style1(64px);
  line-height: 82px;
  margin-bottom: 16px;
}

h2 {
  @include style1(48px);
  text-align: center;
  margin-bottom: 64px;
  
}

h3{
  @include style1(24px, $transform: uppercase);
  p {
    @include style1($weight: 300, $transform: uppercase);
    white-space: nowrap;
  }
}
.res{
  margin-bottom: 64px;
}

h5{
  @include style1(32px, 300);
}

li {
  @include style1(18px, 300);
	margin-bottom: 0;
}

.row_2{
  margin: 140px 120px;
}

.meal {
  color: #FFFFFF;
}

.column_3{
  h4 {
    @include style1(24px, 700, $transform: uppercase);
    margin-bottom: 32px;
  }
  p{
    margin-bottom: 64px;
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 50px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 666px;
	height: 448px;
}

@media (max-width: 1300px) {
  .container{
    max-width: 632px;
    margin-right: 85px;
  }
  .text__center {
    margin: 25px;
    padding: 20px;
    max-height: 520px;
    max-width: 600px;
  }  
  .btn {
    margin: 36px auto;
  }
  .row {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
  }
  .row_2{
    margin: 10px 10px;
  }
  .res{
    margin-bottom: 35px;
  }
  img {
    width: 600px;
    height: 420px;
  }
  .column_2, .column_3{
    padding: 0;
  }
  .column_3{
    p{
      @include style1($size: 18px, $weight: 300);
    }
  }
  .videoWrapper iframe{
    width: 600px;
	  height: 450px;
  }
}
@media (min-width: 100px) and (max-width: 650px) {
  .container{
    max-width: 370px;
    margin-right: 125px;
  }
  .text__center {
    margin-right: 55px;
    padding: 20px;
    max-height: 560px;
    max-width: 400px;
  }  
  .btn {
    margin: 36px auto;
  }
  .row {
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-right: 60px;
    padding-top: 15px;
  }
  .row_2{
    margin: 10px 10px;
  }
  img {
    width: 400px;
    height: 400px;
  }
  .column_2, .column_3{
    padding: 0;
  }
  .column_3{
    p{
      @include style1($size: 18px, $weight: 300);
    }
  }
  .videoWrapper iframe{
    width: 350px;
	  height: 250px;
  }
}